.input {
    outline: none;
    border: 2px solid rgb(130, 116, 116);
  
}

.input:focus{
    border: 4px solid black;
}

.small {
    width: 25%;
}

.medium {
    width: 50%;
}
.large {
    width: 100%;
}